{% extends "base.html" %}

{% block content %}
{% if title %}
    <h1 class= 'text-light'> {{title}} </h1>
{%endif%}
<!-- Creates a list of Courses  -->
<div class='container-md'>
    <div class='row'>
        <div class='col-xs-3 col-md-5' align="left">
            <h5 class="list-group-item bg-secondary text-light" style="width: 300px">Card: {{name}}</h5>
            <h6 class="list-group-item bg-secondary text-light" style="width: 300px">Park: {{park}} </h6>

            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Hole</th>
                      <th scope="col">Dist</th>
                      <th scope="col">Par</th>
                    </tr>
                  </thead>
                <tbody>
                {% for c in course_list %}
                    <tr>
                        <th class="text-light">{{c.hole}}</th>
                        <th class="text-light">{{c.holeNumber}}</th>
                        <td class=" text-light">{{c.distance}}</td>
                        <td class=" text-light">{{c.par}}</td>
                        <td >
                        <a href="/card-edit/{{name}}/{{c.hole}}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='col-xs-2 col-md-3' align="right">
            <a href="/card-edit/{{name}}/99" type="button" class="btn btn-primary btn-md" 
              aria-disabled="true">Add Hole</a>
        </br></br>
             <a href="/cards" class="btn btn-primary btn-md" 
             type="button" aria-disabled="true">Back</a>
        </div>
    </div>
</div>
<!-- End of Creates a list of blank score card templates  -->
{% endblock %}