{% extends "base.html"%}
{% block title %}NewGame{% endblock %}
{% block content %}
<form  method="POST" action="" onclick="update()">
    {% csrf_token %}
  <!-- Form for playing a new game -->
  <h3 class=" p-2 text-light" align="left">Card: {{title}} - Park: {{park}}
  </h3>
  <h4 class=" p-2 text-light" align="left">Hole: {{hole.hole}}
  </h4>
  <div align="left" class="">
    <div align="left" class=" col col-md-4 form-group bg-primary">
      <label for="holeSelect">Hole Select</label>
      <select class="form-control bg-secondary text-light" name="holeSelect" id="holeSelect">
          {% for h in hole_list %}
              <option class=" text-light" value={{h.id}}>{{h.holeNumber}}{{h.holeSub}}: {{h.basket}} - {{h.tee}}</option>
          {% endfor %}
      </select>
    </div>
    <div align="right" class="col-6 col-sm-3 offset-sm-1">
      <div class="row">
        <button align="right" type="submit" name="NavHole" value="Update" class="btn btn-primary">Update Hole</button>
      </div>
      <br />
      {% if GameOver %}
        <div align="right" class="row">
          <button align="right" type="submit" name="NavHole" value="addHole" class="btn btn-primary">Add Hole</button>
        </div>
      {% endif %}
    </div>
  </div>
  <br />
  <div align="center" style="width: 25rem;">
    <div>
      <h5 align="center" id="testSwipe">
        Hole: {{hole.holeNumber}}{{hole.holeSub}} - Basket: {{hole.basket}} - Tee: {{hole.tee}}
      </h5>
      <br />
      <div align="left" class="row justify-content-md-center">
        <div class="col col-md-4">
          <button class="btn btn-primary" name="NavHole" type="submit" value="DN">-</button>
        </div>
        <div>
          <h4 class=" text-light" align="center">PAR: {{hole.par}}</h4>
        </div>
        <div align="right" class="col col-md-4">
          <button class="btn btn-primary" name="NavHole" type="submit" value="UP">+</button>
        </div>
      </div>
      <br />
    </div>
    <div>
      <h5 class=" text-light" align="center">Distance: {{dist}} ft.
    </div>
    <br />
    <div>
    <div align="center" class="row justify-content-md-center">
      <div class="col col-md-2">
        <button class="btn btn-primary btn-lg" 
        style="width: 55px"
        name="NavHole" type="submit" value="dn">-</button>
      </div>
      <div>
        <h5 class=" text-light" align="center">Throws: {{throws}} <> Avg: {{avg}}
      </div>
      <div align="center" class="col col-md-2">
        <button class="btn btn-primary btn-lg" 
          style="width: 55px"
          name="NavHole" type="submit" value="up">+
        </button>
      </div>
    </div>
    <br /><br />
    <div align="left" class="row justify-content-md-center">
      <div class="col col-md-5">
        <button class="btn btn-primary" name="NavHole" type="submit" value="Pre">Prev. Hole</button>
      </div>
      <div align="right" class="col col-md-5">
        <button class="btn btn-primary" name="NavHole" type="submit" value="Next">Next Hole</button>
      </div>
    </div>
  </div>
  <div align="center" class="row justify-content-md-center">
    <div class="col col-md-5">
      <h6 class=" text-light" align="left">Score: {{Score}}</h6>
    </div>
    <div class="col col-md-5">
      <h6 class=" text-light" align="right">Cur. Score: {{CurScore}}</h6>
    </div>
  </div>
  <br />
  {% if GameOver %}
  <div align="left" class="row justify-content-md-center">
    <div class="col col-md-4">
      <button class="btn btn-primary" name="NavHole" type="submit" value="del">Delete Game</button>
    </div>
    <div align="right" class="col col-md-4">
      <button class="btn btn-primary" name="NavHole" type="submit" value="save">Save Game</button>
    </div>
  </div>
  <br /><br />
  {% endif %}
</form>
<!-- Button to navigate back to home screen -->
<div class="col col-md-12" align="right">
  <a href="/" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Back to home</a>
</div>
<br />
{% endblock %}