{% extends "base.html" %}

{% block content %}
{% if title %}
    <h1 class= 'text-light'> {{ title}} </h1>
{%endif%}
<!-- Creates a list of Courses  -->
<div class='container-md'>
    {% load mathfilters %}
    <div class='row'>
        <div class='col-xs-3 col-md-5' align="left">
            <h6 class="list-group-item bg-secondary text-light" style="width: 300px">Park: {{park.park}} </h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th class=" text-light" scope="row">Hole # </th>
                    {% for c in park_list %}
                    <th class=" text-light" scope="row">{{c.holeNumber}}{{c.holeSub}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th class=" text-light" scope="row">Basket</th>
                    {% for c in park_list %}
                    <th class=" text-light" scope="row">{{c.basket}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class=" text-light" scope="row">tee: </td>
                {% for c in park_list %}
                    <td class=" text-light" scope="row">{{c.tee}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <td class=" text-light" scope="row">Throws: </td>
                {% for c in park_list %}
                    <td class=" text-light" scope="row">{{c.throws}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <td class=" text-light" scope="row">Times Played: </td>
                {% for c in park_list %}
                    <td class=" text-light" scope="row">{{c.timesPlayed}}</td>
                {% endfor %}
                </tr>
                <td class=" text-light" scope="row">Average Throws: </td>
                {% for c in park_list %}
                    <td class=" text-light" scope="row">{{c.throws|intdiv:c.timesPlayed}}</td>
                {% endfor %}
                </tbody>
            </table>
        </br>
        {% if park_list_2 %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th class=" text-light" scope="row">Hole # </th>
                    {% for c in park_list_2 %}
                    <th class=" text-light" scope="row">{{c.holeNumber}}{{c.holeSub}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th class=" text-light" scope="row">Basket</th>
                    {% for c in park_list_2 %}
                    <th class=" text-light" scope="row">{{c.basket}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class=" text-light" scope="row">tee: </td>
                {% for c in park_list_2 %}
                    <td class=" text-light" scope="row">{{c.tee}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <td class=" text-light" scope="row">Throws: </td>
                {% for c in park_list_2 %}
                    <td class=" text-light" scope="row">{{c.throws}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <td class=" text-light" scope="row">Times Played: </td>
                {% for c in park_list_2 %}
                    <td class=" text-light" scope="row">{{c.timesPlayed}}</td>
                {% endfor %}
                </tr>
                <td class=" text-light" scope="row">Average Throws: </td>
                {% for c in park_list_2 %}
                    <td class=" text-light" scope="row">{{c.throws|intdiv:c.timesPlayed}}</td>
                {% endfor %}
                </tbody>
            </table>
        {%endif%}
        </br>
        {% if park_list_3%}
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th class=" text-light" scope="row">Hole # </th>
                    {% for c in park_list_3 %}
                    <th class=" text-light" scope="row">{{c.holeNumber}}{{c.holeSub}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th class=" text-light" scope="row">Basket</th>
                    {% for c in park_list_3 %}
                    <th class=" text-light" scope="row">{{c.basket}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class=" text-light" scope="row">tee: </td>
                {% for c in park_list_3 %}
                    <td class=" text-light" scope="row">{{c.tee}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <td class=" text-light" scope="row">Throws: </td>
                {% for c in park_list_3 %}
                    <td class=" text-light" scope="row">{{c.throws}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <td class=" text-light" scope="row">Times Played: </td>
                {% for c in park_list_3 %}
                    <td class=" text-light" scope="row">{{c.timesPlayed}}</td>
                {% endfor %}
                </tr>
                <td class=" text-light" scope="row">Average Throws: </td>
                {% for c in park_list_3 %}
                    <td class=" text-light" scope="row">{{c.throws|intdiv:c.timesPlayed}}</td>
                {% endfor %}
                </tbody>
            </table>
        {%endif%}
        </div>
        <div class='col-xs-2 col-md-3' align="right">
             <a href="/accounts/userstats" class="btn btn-primary btn-md" 
             type="button" aria-disabled="true">Back</a>
        </div>
    </div>
</div>
<!-- End of Creates a list of blank score card templates  -->
{% endblock %}