{% extends "base.html"%}<!-- Loads Base html file -->
{% block title %}Saved Games{% endblock %}<!-- Labels the browser window -->
{% block content %} 
<h4 class='text-light' align="left" >Delete Game</h4>
<form method="POST">
  <!-- Creates a table of the selected game score card -->
 
  <!-- End of Creates a table of the selected game score card -->
  <br /><br/>
  <!-- button sends the delete command to delete the selected saved game -->

    <!-- End of button sends the delete command to delete the selected saved game -->
</form>
<!-- navigates to to games list page -->
<div align="right">
  <a href="/settings" class="btn btn-primary btn-lg " 
  tabindex="-1" role="button" aria-disabled="true">Back to Settings</a>
</div>
<!-- End of navigates to to games list page -->
{% endblock %}