{% extends "base.html" %}

{% block content %}

    {% if title %}
        <h1> {{title}} </h1>
    {%endif%}
<form method="POST" action="." enctype='multipart/form-data'> {% csrf_token %}
    <h1> Add Hole </h1>
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="form-group">
        <label> Park Name </label>
        {{ form.parkName}}
    </div>
    <div class="form-group">
        <label> Hole Number </label>
        {{ form.holeNumber }}
    </div>
    <div class="form-group">
        <label> Hole Sub Number </label>
        {{ form.holeSub }}
    </div>
    <div class="form-group">
        <label> Basket </label>
        {{ form.basket }}
    </div>
    <div class="form-group">
        <label> Tee </label>
        {{ form.tee }}
    </div>
    <div class="form-group">
        <label> Distance </label>
        {{ form.distance }}
    </div>
    <div class="form-group">
        <label> Par</label>
        {{ form.par }}
    </div>
    <button type="submit">Send</button>
</form>
<div align="right">
    <a href="/" class="btn btn-primary btn-lg " 
    tabindex="-1" role="button" aria-disabled="true">Back to Home</a>
</div>

{% endblock %}