
{% extends "base.html" %}

{% block content %}
<!-- Creates a list of Courses  -->
<div class='container'>
  <div class='row'>
    <div class='col-xs-2 col-md-3' align='left'>
    <div class='text-light'><h2>Parks:</h2></div>
      <ul class="list-group list-group-flush"  id="parks">
      {% for course in course_list %}
        <li class="badge badge-secondary text-light" style="width: 200px"><a href="/park-detail/{{course}}"><h5> {{course}}</h5></li>
        </br> 
      {% endfor %}
    </ul>
    </div>
    <div class='col-xs-2 col-md-3'>
      {% comment %} todo something better than this {% endcomment %}
    </br></br></br></br></br></br></br></br></br>
      <div align="right">
        <a href="/newpark" class="btn btn-primary btn-md " 
        tabindex="-1" role="button" aria-disabled="true">Add Park</a>
      </div>
      </br></br></br>
      <div align="right">
        <a href="/" class="btn btn-primary btn-md " 
        tabindex="-1" role="button" aria-disabled="true">Back</a>
      </div>
    </div>
  </div>
</div
<!-- End of Creates a list of blank score card templates  -->
{% endblock %}