{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
      <link rel="shortcut icon"type="image/png" href="/static/img/apple-touch-icon.png">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta charset="utf-8" />
      <link rel="stylesheet" href="{% static 'styles.css' %}"/>
      <script src="{% static 'myScripts.js' %}"></script>
    
      <title>{% block title %} 

        {% endblock %}</title>
    </head>
    <body class='main'>
      <!-- Main menu code-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
            class="navbar-toggler ml-auto" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbar"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <a class="nav-item nav-link ml-auto" id="home" href="/">Home</a>
              <a class="nav-item nav-link ml-auto" id="settings" href="/settings">Settings</a>
              <a class="nav-item nav-link ml-auto" id="settings" href="/accounts/userstats">Stats</a>
              {% else %}
              <a class="nav-item nav-link" id="login" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" id="signUp" href="/accounts/signup">Sign Up</a>
              {% endif %}
          </div>  
        </div>   
       </nav> 
      <!-- End of Main menu code-->
      <!-- Flash Message Code-->
   
        <!-- End of Flash Message Code-->
        <!-- Defines where templates will be loaded-->
       <div class="container">
           {% block content %} 
            base page
           {% endblock %}
       </div>
    </body>
</html>