{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class='container'>
  {% if user.is_authenticated %}
    {% csrf_token %}
    {% if title %}
        <h1> {{title}} </h1>
    {%endif%}
    <div >
      <div >
        <h1 >Hello {{user.username}}!</h1>
        {% comment %} Code here {% endcomment %}
        <!-- Creates a list of Courses  -->
        <div ><h3>Recent Games:</h3></div>
        <ul id="cards">
          {% for game in games_list %}
              <li align='left' style="width: 200px">
                <a id="test1" href='/save-game/{{game.card}}/{{game.timestamp|date:"j"}}/{{game.timestamp|date:"G"}}/{{game.timestamp|time:"i"}}'>
                  <label for="test1"class='text-light'>{{game.card}} - {{game.timestamp|date:"M, j Y- f"}}</label>
                </a>
              </li>
              </br>
          {% endfor %}
        </ul>
      </div>
        <!-- End of Creates a list of blank score card templates  -->
      <div class='col-xs-2 col-md-3' align='right'>
        <br /><br /><br />
        <div align="right" >
          <a href="/park" 
            role="button" aria-disabled="true" onclick="test()">Parks</a>
        </div>
        <br /><br />
        <div align="right">
          <a href="/cards"
            role="button" aria-disabled="true" onclick="tclick()">Cards</a>
        </div>
        <br /><br /><br />
        {% if gameStarted == "true"%} 
        <div align="true" >
          <a href="/new-game/{{cardName}}" class="btn btn-primary btn-md "  role="button" aria-disabled="true">Continue</a>
        </div>
        {% endif %} 
        {% if gameStarted == "false"%}
        <div align="right">
          <a href="/newgame" class="btn btn-primary btn-md " role="button" aria-disabled="true">New Game</a>
        </div>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div class='row'>
      <h1 class='text-light' align='center'>
        Welcome to the DiscGolf Scorecard App!
      </h1>
      <h3 class='text-light' align='center'>You are not logged in...</p>
      <br /><br /><br /><br /><br />
      <div align="center" >
        <a href="/accounts/signup" class="btn btn-primary btn-md "  role="button" aria-disabled="true">Signup</a>
      </div>

      <br /><br />
      <div align="center" >
        <a href="{% url 'login' %}" class="btn btn-primary btn-md " role="button" aria-disabled="true">Login</a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}